<!-- Attack roll dialog (ported) -->
<div class="attack-roll-dialog">
  <h4>Attack Roll</h4>
  <div>
    <label>Target AC</label>
    <input name="targetAC" type="number" value="20"/>
  </div>
  <div>
    <label>Roll Bonus</label>
    <input name="rollBonus" type="number" value="0"/>
  </div>
</div>
