<div class="d35e-magic-item-use">
  <div class="magic-item-header">
    <h4>{{item}}</h4>
    <div class="item-type">{{type}}</div>
  </div>

  <div class="magic-item-action">
    <strong>{{action}}</strong> the magic item
  </div>

  <div class="magic-item-effect">
    {{effect}}
  </div>
</div>
