<div class="d35e-wand-depletion">
  <div class="depletion-header">
    <h4>Wand Depletion</h4>
  </div>

  <div class="depletion-details">
    <div class="wand-name">
      <strong>{{item}}</strong> depletes!
    </div>

    <div class="depletion-effect">
      As the last charge is expended, the wand crumbles to dust and is destroyed.
    </div>

    <div class="depletion-warning">
      <em>The magic within the wand has been exhausted.</em>
    </div>
  </div>
</div>
