<section class="item-light">
  <div class="form-group">
    <label>Bright Radius</label>
    <input type="number" name="system.light.bright" value="{{system.light.bright}}"/>
  </div>
  <div class="form-group">
    <label>Dim Radius</label>
    <input type="number" name="system.light.dim" value="{{system.light.dim}}"/>
  </div>
  <div class="form-group">
    <label>Color</label>
    <input type="text" name="system.light.color" value="{{system.light.color}}"/>
  </div>
  <div class="form-group">
    <label>Angle</label>
    <input type="number" name="system.light.angle" value="{{system.light.angle}}"/>
  </div>
</section>
