<section class="item-notes">
  <label>Notes</label>
  <textarea name="system.notes">{{system.notes}}</textarea>
  <label>Chat Notes</label>
  <textarea name="system.description.chat">{{system.description.chat}}</textarea>
</section>
