<section class="actor-details">
  <div class="details-columns">
    <div>
      <label>Biography</label>
      <textarea name="system.details.biography.value">{{system.details.biography.value}}</textarea>
    </div>
    <div>
      <label>Public Notes</label>
      <textarea name="system.details.biography.public">{{system.details.biography.public}}</textarea>
    </div>
  </div>
  <div class="details-notes">
    <button type="button" class="note-editor" for="system.details.biography.value" data-fields="" data-dtypes="">Open Notes</button>
  </div>
</section>
