<footer class="config-footer">
  {{#if hasSaveButton}}
    <button type="submit" class="primary" title="Save and synchronize all settings">
      <i class="fas fa-check-circle"></i> Synchronize Quantum State
    </button>
  {{/if}}
</footer>
